.App {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.App h1 {
  font-size: 3em;
}

.App h2 {
  font-size: 2em;
}

.controls {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.controls button {
  font-size: 1.5em;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  background-color: lightgreen;
  transition: all 0.15s ease-in-out;
}

.controls button:hover {
  transform: scale(1.05);
}

.customers {
  margin-top: 20px;
}

.customers div {
  font-size: 2rem;
  border: 1px solid black;
  padding: 10px;
  margin-top: 5px;
}